@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Passion+One:wght@400;700;900&family=Patua+One&family=Paytone+One&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.title {
  position: relative;
  width: 100%;
}
.title .col-img {
  width: 100%;
  transform: rotate(26.92deg);
  margin-top: -1.33%;
  margin-left: -13%;
  position: relative;
  z-index: -1;
}
.title .col-img img {
  transform: scale(1.4);
  width: 70.21%;
  height: 22.64%;
}
.title .text-tittle {
  position: absolute;
  top: 24%;
  left: 4.53%;
  transform: rotate(1deg);
  color: #ECF0F1;
  font-size: 14.5px;
}
.title .text-tittle .title-yellow {
  color: #F1C40F;
}
.title .text-tittle .title-blue {
  color: #000AFF;
}
.title .text-tittle .title-red {
  color: #FF0000;
}

.menu {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  justify-items: center;
  margin-top: 18%;
}
.menu .food {
  border-radius: 30px;
  border: 2px solid #F4D03F;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 90%;
  margin-bottom: 43px;
  text-align: center;
  transition: all ease 0.3s;
}
.menu .food a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.menu .food a img {
  width: 100%;
  height: 100%;
}
.menu .food a h4 {
  position: absolute;
  color: #2E86C1;
  bottom: 0%;
  font-size: 28px;
  letter-spacing: 2px;
  text-shadow: -2px -2px 0px #040404, 2px -2px 0px #040404, -2px 2px 0px #040404, 2px 2px 0px #040404;
  font-family: "Paytone One", sans-serif;
  transition: all ease 0.3s;
}
.menu .food:hover {
  transform: scale(0.98);
  border-color: #D6AC04;
}
.menu .food:hover a h4 {
  color: #0682D6;
}

.footer-pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  text-align: center;
}
.footer-pages .content-footer {
  width: 79.17%;
  height: 10.18%;
  background: rgba(217, 217, 217, 0.1);
  border: 2px dashed #F4D03F;
  border-radius: 20px;
  overflow: hidden;
  padding-top: 12px;
  transition: all ease 0.3s;
}
.footer-pages .content-footer a {
  text-decoration: none;
}
.footer-pages .content-footer a img {
  width: 54.73%;
  height: 35.85%;
}
.footer-pages .content-footer a h6 {
  font-family: "Patua One", cursive;
  font-size: 14px;
  font-weight: 400;
  color: #F0F3F4;
  transition: all ease-in 0.2s;
}
.footer-pages .content-footer:hover {
  transform: scale(0.98);
}
.footer-pages .content-footer:hover h6 {
  color: #ECF0F1;
}

.container-recipe .recipe-img {
  width: 100%;
  height: 34.68vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.container-recipe .recipe-img a {
  position: absolute;
  top: 4.05%;
  left: 1.66%;
  width: 2.12rem;
  height: 2.12rem;
  background: rgba(217, 217, 217, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 100%;
  z-index: 100;
  transition: all 0.3s ease-in;
}
.container-recipe .recipe-img a span {
  color: #040404;
}
.container-recipe .recipe-img a:hover {
  background: rgba(217, 217, 217, 0.815);
}
.container-recipe .recipe-img .img {
  width: 100%;
  opacity: 70%;
}
.container-recipe .recipe-img .img img {
  width: 100%;
}
.container-recipe .recipe-img h1 {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  color: #ECF0F1;
}
.container-recipe .description {
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px;
  font-weight: 400;
  font-size: 0.9rem;
  color: #F0F3F4;
}
.container-recipe .recipe {
  margin-top: 20px;
}
.container-recipe .recipe .ingredients,
.container-recipe .recipe .instructions {
  margin-bottom: 20px;
}
.container-recipe .recipe .ingredients h3,
.container-recipe .recipe .instructions h3 {
  color: #ECF0F1;
  padding-left: 16px;
}
.container-recipe .recipe .ingredients ul {
  margin-top: 10px;
  padding: 0px 33px;
  font-size: 0.88rem;
  color: #F0F3F4;
}
.container-recipe .recipe .instructions ol {
  margin-top: 10px;
  padding: 0px 33px;
  font-size: 0.88rem;
  color: #F0F3F4;
}
.container-recipe .recipe .instructions ol li {
  padding-top: 5px;
}

@media (min-width: 400px) and (max-width: 499px) {
  .container-recipe .recipe-img a {
    width: 8%;
  }
}
@media (min-width: 500px) and (max-width: 699px) {
  .container-recipe .recipe-img {
    height: 40.28vh;
  }
  .container-recipe .recipe-img a {
    width: 3rem;
    height: 3rem;
  }
  .container-recipe .recipe-img a span {
    font-size: 30px;
  }
  .container-recipe .recipe-img h1 {
    font-size: 2.25rem;
  }
  .container-recipe .description {
    font-size: 1rem;
    padding: 0px 16px;
  }
  .container-recipe .recipe .ingredients h3,
  .container-recipe .recipe .instructions h3 {
    padding-left: 30px;
  }
  .container-recipe .recipe .ingredients ul {
    font-size: 0.9rem;
    padding: 0px 47px;
  }
  .container-recipe .recipe .instructions ol {
    font-size: 0.9rem;
    padding: 0px 47px;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .container-recipe .recipe-img {
    height: 40.28vh;
  }
  .container-recipe .recipe-img a {
    width: 3.37rem;
    height: 3.37rem;
  }
  .container-recipe .recipe-img a span {
    font-size: 36px;
  }
  .container-recipe .recipe-img h1 {
    font-size: 3rem;
  }
  .container-recipe .description {
    font-size: 1.3rem;
    padding: 0px 16px;
  }
  .container-recipe .recipe .ingredients h3,
  .container-recipe .recipe .instructions h3 {
    padding-left: 30px;
    font-size: 1.6rem;
  }
  .container-recipe .recipe .ingredients ul {
    font-size: 1.1rem;
    padding: 0px 47px;
  }
  .container-recipe .recipe .instructions ol {
    font-size: 1.1rem;
    padding: 0px 47px;
  }
}
@media (min-width: 1024px) and (max-width: 1335px) {
  .container-recipe .recipe-img {
    height: 38.28vh;
  }
  .container-recipe .recipe-img a span {
    font-size: 36px;
  }
  .container-recipe .recipe-img h1 {
    font-size: 3.36rem;
  }
  .container-recipe .description {
    font-size: 1.4rem;
  }
  .container-recipe .recipe .ingredients h3,
  .container-recipe .recipe .instructions h3 {
    font-size: 1.7rem;
  }
  .container-recipe .recipe .ingredients ul {
    font-size: 1.2rem;
  }
  .container-recipe .recipe .instructions ol {
    font-size: 1.2rem;
  }
}
@media (min-width: 1336px) {
  .container-recipe .recipe-img {
    height: 50.28vh;
  }
  .container-recipe .recipe-img a {
    width: 3.37rem;
    height: 3.37rem;
  }
  .container-recipe .recipe-img a span {
    font-size: 36px;
  }
  .container-recipe .recipe-img h1 {
    font-size: 3rem;
  }
  .container-recipe .description {
    font-size: 1.3rem;
    padding: 0px 20px;
  }
  .container-recipe .recipe .ingredients h3,
  .container-recipe .recipe .instructions h3 {
    padding-left: 50px;
    font-size: 1.6rem;
  }
  .container-recipe .recipe .ingredients ul {
    font-size: 1.1rem;
    padding: 0px 66px;
  }
  .container-recipe .recipe .instructions ol {
    font-size: 1.1rem;
    padding: 0px 66px;
  }
}
@media (min-width: 1336px) {
  .container {
    position: relative;
    max-width: 100%;
  }
  .container .title {
    position: absolute;
    top: 35%;
    left: 35%;
  }
  .container .title .col-img {
    width: 100%;
    position: absolute;
    margin-top: 7%;
    margin-left: -6%;
  }
  .container .title .col-img img {
    transform: scale(1.2);
    width: 35%;
  }
  .container .title .text-tittle {
    position: absolute;
    top: -100%;
    left: 4.53%;
    transform: rotate(1deg);
    font-size: 22px;
  }
  .container .menu {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30%;
    margin-top: 4%;
  }
  .container .menu .food {
    width: 70%;
    height: 90%;
  }
  .container .menu .food a h4 {
    font-size: 28px;
    letter-spacing: 2px;
  }
  .container .footer-pages {
    width: 100%;
  }
  .container .footer-pages .content-footer {
    width: 40.43%;
    height: 10.18%;
  }
  .container .footer-pages .content-footer a img {
    width: 60.73%;
    height: 100%;
  }
  .container .footer-pages .content-footer a h6 {
    font-size: 16px;
  }
}
@media (min-width: 1025px) and (max-width: 1335px) {
  .container {
    position: relative;
    max-width: 100%;
  }
  .container .title {
    position: absolute;
    top: 35%;
    left: 35%;
  }
  .container .title .col-img {
    width: 100%;
    position: absolute;
    margin-top: 7%;
    margin-left: -6%;
  }
  .container .title .col-img img {
    transform: scale(1.2);
    width: 35%;
  }
  .container .title .text-tittle {
    position: absolute;
    top: -100%;
    left: 4.53%;
    transform: rotate(1deg);
    font-size: 18px;
  }
  .container .menu {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30%;
    margin-top: 4%;
  }
  .container .menu .food {
    width: 70%;
    height: 90%;
  }
  .container .menu .food a h4 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .container .footer-pages {
    width: 100%;
  }
  .container .footer-pages .content-footer {
    width: 40.43%;
    height: 10.18%;
  }
  .container .footer-pages .content-footer a img {
    width: 60.73%;
    height: 100%;
  }
  .container .footer-pages .content-footer a h6 {
    font-size: 13px;
  }
}
@media (min-width: 700px) and (max-width: 1024px) {
  .title .col-img {
    margin-top: -1%;
    margin-left: -16%;
  }
  .title .col-img img {
    transform: scale(1.2);
    width: 60.21%;
  }
  .title .text-tittle {
    top: 20%;
    left: 4%;
    font-size: 20px;
  }
  .menu {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 17px;
    margin-top: 7%;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .menu .food a h4 {
    font-size: 30px;
    letter-spacing: 0px;
  }
  .footer-pages .content-footer {
    width: 69.17%;
    height: 12.18%;
  }
  .footer-pages .content-footer a img {
    width: 60.73%;
    height: 40.85%;
  }
  .footer-pages .content-footer a h6 {
    font-size: 20px;
  }
}
@media (min-width: 500px) and (max-width: 699px) {
  .title .col-img {
    margin-top: 1%;
    margin-left: -14%;
  }
  .title .col-img img {
    transform: scale(1.2);
    width: 70.21%;
    height: 22.64%;
  }
  .title .text-tittle {
    top: 18%;
    left: 4%;
    font-size: 15px;
  }
  .menu {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 13%;
  }
  .menu .food a h4 {
    font-size: 32px;
    letter-spacing: 0px;
  }
  .footer-pages {
    margin-bottom: 42px;
  }
  .footer-pages .content-footer {
    width: 79.17%;
    height: 10.18%;
  }
  .footer-pages .content-footer a img {
    width: 60.73%;
    height: 40.85%;
  }
  .footer-pages .content-footer a h6 {
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1B1919;
  font-family: "Passion One", cursive;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
