@use 'variable';

.container-recipe {
  .recipe-img {
    width: 100%;
    height: 34.68vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    a {
      position: absolute;
      top: 4.05%;
      left: 1.66%;
      width:2.12rem;
      height: 2.12rem;
      background: rgba(217, 217, 217, 0.5);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      opacity: 100%;
      z-index: 100;
      transition: all 0.3s ease-in;

      span {
        color: variable.$boxTittleBorder;
      }
    }

    a:hover {
      background: rgba(217, 217, 217, 0.815);
    }

    .img {
      width: 100%;
      opacity: 70%;

      img {
        width: 100%;
      }
    }

    h1 {
      position: absolute;
      bottom: 0;
      text-transform: uppercase;
      color: variable.$titleLetterWhite;
    }
  }

  .description {
    width: 100%;
    margin-top: 20px;
    padding: 0px 10px;
    font-weight: 400;
    font-size: 0.9rem;
    color: variable.$footerTittle;
  }

  .recipe {
    margin-top: 20px;

    .ingredients,
    .instructions {
      margin-bottom: 20px;

      h3 {
        color: variable.$titleLetterWhite;
        padding-left: 16px;
      }
    }

    .ingredients {
      ul {
        margin-top: 10px;
        padding: 0px 33px;
        font-size: 0.88rem;
        color: variable.$footerTittle;
      }
    }

    .instructions {
      ol {
        margin-top: 10px;
        padding: 0px 33px;
        font-size: 0.88rem;
        color: variable.$footerTittle;

        li {
          padding-top: 5px;
        }
      }
    }
  }
}

@media (min-width: 400px) and (max-width:499px) {
  .container-recipe {
    .recipe-img {
      a {
        width: 8%;
      }
    }
  }
}

// tablet version recipe pages
@media (min-width: 500px) and (max-width:699px) {
  .container-recipe {
    .recipe-img {
      height: 40.28vh;

      a {
        width: 3rem;
        height: 3rem;

        span {
          font-size: 30px;
        }
      }

      h1 {
        font-size: 2.25rem;
      }
    }

    .description {
      font-size: 1rem;
      padding: 0px 16px;
    }

    .recipe {

      .ingredients,
      .instructions {

        h3 {
          padding-left: 30px;
        }
      }

      .ingredients {
        ul {
          font-size: 0.9rem;
          padding: 0px 47px;
        }
      }

      .instructions {
        ol {
          font-size: 0.9rem;
          padding: 0px 47px;
        }
      }
    }
  }
}

// tablet version large recipe pages
@media (min-width: 700px) and (max-width:1024px) {
  .container-recipe {
    .recipe-img {
      height: 40.28vh;

      a {
        width: 3.37rem;
        height: 3.37rem;

        span {
          font-size: 36px;
        }
      }

      h1 {
        font-size: 3rem;
      }
    }

    .description {
      font-size: 1.3rem;
      padding: 0px 16px;
    }

    .recipe {

      .ingredients,
      .instructions {

        h3 {
          padding-left: 30px;
          font-size: 1.6rem;
        }
      }

      .ingredients {
        ul {
          font-size: 1.1rem;
          padding: 0px 47px;
        }
      }

      .instructions {
        ol {
          font-size: 1.1rem;
          padding: 0px 47px;
        }
      }
    }
  }
}

// desktop version recipe pages
@media (min-width: 1024px) and (max-width:1335px) {
  .container-recipe {
    .recipe-img {
      height: 38.28vh;

      a {

        span {
          font-size: 36px;
        }
      }

      h1 {
        font-size: 3.36rem;
      }
    }

    .description {
      font-size: 1.4rem;
    }

    .recipe {

      .ingredients,
      .instructions {

        h3 {
          font-size: 1.7rem;
        }
      }

      .ingredients {
        ul {
          font-size: 1.2rem;
        }
      }

      .instructions {
        ol {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// desktop version medium recipe pages
@media (min-width: 1336px){
  .container-recipe {
    .recipe-img {
      height: 50.28vh;

      a {
        width: 3.37rem;
        height: 3.37rem;

        span {
          font-size: 36px;
        }
      }

      h1 {
        font-size: 3rem;
      }
    }

    .description {
      font-size: 1.3rem;
      padding: 0px 20px;
    }

    .recipe {

      .ingredients,
      .instructions {

        h3 {
          padding-left: 50px;
          font-size: 1.6rem;
        }
      }

      .ingredients {
        ul {
          font-size: 1.1rem;
          padding: 0px 66px;
        }
      }

      .instructions {
        ol {
          font-size: 1.1rem;
          padding: 0px 66px;
        }
      }
    }
  }
}