@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Passion+One:wght@400;700;900&family=Patua+One&family=Paytone+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$backgroundHome:#1B1919;
$titleLetterYellow:#F1C40F;
$titleLetterBlue:#000AFF;
$titleLetterRed:#FF0000;
$titleLetterWhite:#ECF0F1;
$boxBorder:#F4D03F;
$boxBorderHover:#D6AC04;
$boxTittle:#2E86C1;
$boxTittleHover:#0682D6;
$boxTittleBorder:#040404;
$footerBackground:rgba(217, 217, 217, 0.1);
$footerBorder:#F4D03F;
$footerBorderHover:#D6AC04;
$footerTittle:#F0F3F4;
$footerTittleHover:#ECF0F1;